
.footer {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}

.main-footer-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  margin-top: 0;
  background: #1A1A1A;
  color: white;
  font-family: "Barlow";
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: 5rem;
}

.footer-left-list p {
  font-size: 18px;
  font-weight: 400;
}

.footer-left-list ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.footer-middle {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.footer-middle-header {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.footer-middle-list p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1.2rem;
  line-height: 32px;
}

.footer-right-header {
  font-family: "Barlow";
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 2rem;
}

.footer-right-img-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-right-img-list li {
  flex: 0 0 30%;
}

.copyright-section {
  display: flex;
  padding: 2rem 2rem;
  justify-content: space-between;
  background: #1A1A1A;
  color: white;
  font-family: "Barlow";
  border-top: 1px solid #5F5F5F;
  padding: 2rem;
}

@media(max-width: 768px) {
    .main-footer-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-left {
    margin-top: 5rem;
  }

 .footer-middle, .footer-right {
    margin-top: 2rem;
    margin-left: 5rem;
  }

  .footer-right {
    margin-bottom: 5rem;
  }

  .copyright-section {
    align-items: flex-start;
  }

  .copyright-section p, .copyright-section i {
    padding: 2rem 2rem;
  }
}
