body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #FAF7F2;
}

/*header*/

.mp-header-container {
  display: grid;
  width: 100%;
  aspect-ratio: 16/9; 
}

.mp-header-banner, .mp-header-contents {
  grid-area: 1/1;
}

.mp-header-banner img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.mp-header-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  padding-top: 3rem;
}

.mp-header-contents img {
  display: block;
  margin: 0 auto;
}

.mp-header-items {   
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mp-header-items p {
  margin: 1rem; 
}

.mp-header-items .text-1 {
  font-family: "Satisfy";
  color: #FDC913;
  font-size: clamp(1rem, 5vw, 2rem);
}

.mp-header-items .text-2 {
  font-family: "Roboto Condensed";
  color: white;
  font-size: clamp(3rem, 5vw, 6rem);
  font-weight: 300;
}

.mp-header-items .mp-cta-link {
  background-color: #FDC913;
  font-family: "Barlow";
  font-weight: 600;
  border-radius: 3rem;
  padding: 1rem 4rem;
  display: inline-block;
  margin-top: 1rem;
  color: black;
}

/*below-header-list*/

.list-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  background-color: white;
  z-index: 1;
} 

.list-content {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 1rem;
}

.list-content img {
  max-width: 30%;
}

.list-contents p {
  display: flex;
  font-family: "Barlow";
  font-weight: 500;
  padding: 1.5rem 1rem;
}

/*cta-contents*/

.cta-contents {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  margin: 4rem 4rem;
}

.cta-contents img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.cta-card-1 img {
  margin-right: 1rem;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cta-card-2 img {
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.cta-card-3 img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.cta-card-1 {
  position: relative;
  max-width: 100%;
  height: auto;
}

.cta-card-1 p:first-of-type {
  position: absolute;
  top: 10%; 
  left: 7%;
  font-family: "Quattrocento";
  font-weight: bold;
  font-size: clamp(2rem, 5vw, 4rem);
  color: white;
}

.cta-card-1 p:nth-of-type(2) {
  position: absolute;
  top: 25%;
  left: 7%;
  font-family: "Quattrocento";
  font-weight: bold;
  font-size: clamp(2rem, 5vw, 4rem);
  color: white;
}

.cta-card-1 p:last-of-type {
  position: absolute;
  top: 40%;
  left: 7%;
  font-family: "Barlow";
  font-weight: 600;
  font-size: clamp(0.5rem, 5vw, 1.5rem);
  color: white;
}

.cta-card-1 .cta-link {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 7%;
  font-family: "Barlow";
  font-weight: 600;
  font-size: clamp(0.5rem, 5vw, 1rem);
  color: #CE2829;
  background-color: white;
  border-radius: 2rem;
  padding: 1.5rem 2.5rem;
}

.cta-card-2 {
  position: relative;
  max-width: 100%;
  height: auto;
}

.cta-card-2 p:first-of-type {
  position: absolute;
  top: 10%;
  left: 5%;
  font-family: "Barlow";
  font-weight: 600;
  font-size: clamp(1rem, 5vw, 2rem);
  color: white;
  line-height: 3rem;
}

.cta-card-2 p:last-of-type {
  position: absolute;
  top: 30%;
  left: 5%;
  font-family: "Barlow";
  font-weight: 600;
  font-size: clamp(1rem, 5vw, 2rem);
  color: white;
  line-height: 3rem;
}

.cta-card-2 .cta-link {
  position: absolute;
  display: inline-block;
  top: 60%;
  left: 5%;
  font-family: "Barlow";
  font-weight: 600;
  font-size: clamp(0.5rem, 5vw, 1rem);
  color: #CE2829;
  background-color: white;
  border-radius: 2rem;
  padding: 1.5rem 2.5rem;
}

.cta-card-3 {
  position: relative;
  max-width: 100%;
  height: auto;
}

.cta-card-3 p:first-of-type {
  position: absolute;
  top: 10%;
  left: 5%;
  font-family: "Barlow";
  font-weight: 600;
  font-size: clamp(1rem, 5vw, 2rem);
  color: black;
  line-height: 3rem;
}

.cta-card-3 p:last-of-type {
  position: absolute;
  top: 30%;
  left: 5%;
  font-family: "Barlow";
  font-weight: 600;
  font-size: clamp(1rem, 5vw, 2rem);
  color: black;
  line-height: 3rem;
}

.cta-card-3 .cta-link {
  position: absolute;
  display: inline-block;
  top: 60%;
  left: 5%;
  font-family: "Barlow";
  font-weight: 600;
  font-size: clamp(0.5rem, 5vw, 1rem);
  color: #CE2829;
  background-color: white;
  border-radius: 2rem;
  padding: 1.5rem 2.5rem;
}

/*middle-text*/

.upper-middle-text {
  text-align: center;
  font-family: "Satisfy";
  font-weight: 400;
  font-size: 2rem;
  color: #CE2829;
  margin-bottom: 2rem;
}

.bottom-middle-text {
  text-align: center;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 3rem;
  color: black;
  margin-bottom: 2rem;
}

/*button-list*/

.button-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.button-list button {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 1rem;
  background-color: white;
  border: none;
  padding: 0 2rem;
  border-radius: 3rem;
}

.button-list button:nth-of-type(2) {
  background-color: black;
  color: white;
}

.button-list button p {
  font-family: "Barlow";
  font-weight: 500;
  padding: 1.5rem 0rem;
  margin-left: 1rem;
  font-size: 1rem;
}

.button-content img {
  max-width: 30%;
}

/*priced-contents*/

.priced-contents {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.priced-contents img {
  object-fit: cover;
  margin-bottom: 1rem;
  max-width: 100%;
}

.priced-contents > div {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
}

.priced-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 1.5rem;
}

.priced-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: auto;
}

.priced-info p {
  color: #1B1B1BB2;
  font-size: 1rem;
  margin-top: 1rem;
}

.priced-info p:last-child {
  color: black;
}

/*footer*/

/*media 768px*/

@media(max-width:768px) {
  body {
    min-width: 300px;
  }

  .mp-header-banner {
    width: 100%;
    height: 100vh;
  }

  .mp-header-banner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .list-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  background-color: white;
  z-index: 1;
  }

  .list-content {
    flex: 0 0 30%;
  }

  .list-content img {
    max-width: 30%;
    height: auto;
  }

  .cta-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem 4rem;
  }

  .cta-card-1 a, .cta-card-2 a, .cta-card-3 a {
    font-size: clamp(0.5rem, 5vw, 1rem);
    padding: 1rem 1.5rem;
  }

  .cta-card-1 img, .cta-card-2 img, .cta-card-3 img {
    margin-bottom: 1rem;
  }

  .button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 2rem;
  }

  .button-content {
    flex: 0 0 40%;
  }

  .button-content img{
    max-width: 30%;
  }

  .priced-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 2rem;
  }
}