.mp-header-container {
  display: grid;
  width: 100%;
  aspect-ratio: 16/9; 
}

.mp-header-banner, .mp-header-contents {
  grid-area: 1/1;
}

.mp-header-banner img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.mp-header-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  padding-top: 3rem;
}

.mp-header-contents img {
  display: block;
  margin: 0 auto;
}

.mp-header-items {   
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mp-header-items p {
  margin: 1rem; 
}

.mp-header-items .mp-text-1 {
  font-family: "Satisfy";
  color: #FDC913;
  font-size: clamp(1rem, 5vw, 2rem);
}

.mp-header-items .mp-text-2 {
  font-family: "Roboto Condensed";
  color: white;
  font-size: clamp(3rem, 5vw, 6rem);
  font-weight: 300;
}

.mp-cta {
  background-color: #FDC913;
  font-family: "Barlow";
  font-weight: 600;
  border-radius: 3rem;
  padding: 1rem 4rem;
  display: inline-block;
  margin-top: 1rem; 
  color: black;
}

@media(max-width:768px) {
  body {
    min-width: 300px;
  }

  .mp-header-banner {
    width: 100%;
    height: 100vh;
  }

  .mp-header-banner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}