.success-header {
  min-height: 100vh;
  background-color: #ce2829;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}

.success-container {
  width: 100%;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.success-container img {
  height: 48px;
  margin-bottom: 40px;
}

.success-header-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.success-text {
  font-family: "Roboto Condensed";
  color: white;
  font-size: 72px;
  font-weight: 300;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 40px;
}

.success-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  height: 1px;
  background: #ffffff;
}

.success-text-2 {
  font-family: "Satisfy";
  color: #fdc913;
  font-size: clamp(0.75rem, 5vw, 1.5rem);
}

.success-pizza-name {
  color: white;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 22px;
  margin-top: 20px;
}

.success-summary {
  color: white;
  font-family: "Barlow";
  font-size: 13px;
  line-height: 28px;

  margin: 10px auto 0;
  width: 100%;
  max-width: 180px;

  display: flex;
  flex-direction: column;
  gap: 12px;
  
  text-align: left;
  align-items: stretch;
}

.success-summary p {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
}

.ingredients-line {
  max-width: 360px;
  word-break: normal;
}

.success-bold {
  font-weight: 600;
  color: #ffffff;
}

.price-summary {
  display: flex;
  flex-direction: column;
  margin: 48px auto 0;
  gap: 12px;
  width: 360px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 28px 36px;
  text-align: left;
  box-sizing: border-box;
}

.price-summary p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-weight: 600;
  font-family: 'Barlow';
  font-size: 20px;
}

.price-title {
  font-weight: 600;
  padding-bottom: 10px;
}